/* Layout */
@import "status.css";
@import "header.css";
@import "nav.css";
@import "footer.css";
@import "reset.css";

/* Variables */
@import "variables.css";

/* Font */
@font-face {
	font-family: "JSDongkang-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "JSDongkang-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Body styles */
body {
	width: 1535px;
	background-color: whitesmoke;
	font-family: "JSDongkang-Bold", sans-serif;
	overflow-x: hidden;
}
