.nav {
	width: 50px;
	height: 140px;
	background-color: var(--mint);
	position: fixed;
	right: 0;
	top: 180px;
	box-shadow: 5px 5px 5px grey;
	z-index: 3;
}

.nav__btns {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.nav__btns i {
	color: whitesmoke;
	font-size: 25px;
	/* font-weight: lighter; */
}
