<h1>Error!</h1>
<h3>잠시 후 재시도 바랍니다.</h3>
<h3><span id="cntNumber">3</span>초 후 메인 페이지로 이동합니다.</h3>

<% const errorDir = "/script/errorScript.js" %>
<%= error %>
<script src="<%= errorDir %>"></script>