<div>
	<div class="header__main-link"><a href="/">늘봄</a></div>
	<div class="header__menu">
		<ul class="header__menu--facility-info">
			<li>
				<a href="/introduction" class="mainmenu">시설소개</a>
				<ul class="submenu">
					<li><a href="/introduction">늘봄소개</a></li>
					<li><a href="/way">오시는길</a></li>
				</ul>
			</li>
		</ul>
		<ul class="header__menu--entering-info">
			<li>
				<a href="/admit" class="mainmenu">입소안내</a>
				<ul class="submenu">
					<li><a href="/admit">입소절차</a></li>
					<li><a href="/space">늘봄공간</a></li>
				</ul>
			</li>
		</ul>
		<ul class="header__menu--boards">
			<li>
				<a href="/notice/1" class="mainmenu">늘봄소식</a>
				<ul class="submenu">
					<li><a href="/notice/1">공지사항</a></li>
					<li><a href="/gallery/1">갤러리</a></li>
				</ul>
			</li>
		</ul>
		<ul class="header__menu--inquiries">
			<li>
				<a href="/agency" class="mainmenu">문의하기</a>
				<ul class="submenu">
					<li><a href="/agency">상담문의</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>