<div>
	<form action="/sign/in" method="POST" class="status-bar__login-form" name="signForm">
		<input type="text" id="sign_id" name="id" class="status-bar__login-form--id" placeholder="ID" />
		<input type="password" id="sign_pw" name="password" class="status-bar__login-form--pw" placeholder="PASSWORD" />
		<button type="button" class="status-bar__login-form--login" id="sign">
			<i class="fas fa-sign-in-alt"></i>
		</button>
	</form>
	<a href="/join" class="status-bar__join"><i class="fas fa-user-plus"></i></a>
</div>