main {
	width: inherit;
}

.main__img-section {
	height: 800px;
	position: relative;
	z-index: -1;
}

.main__img-section--img {
	display: block;
	margin: auto;
	width: 100%;
	height: inherit;
	overflow: hidden;
}

.main__img-section--img > img {
	width: 100%;
	height: auto;
}

.main__img-section--text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 360px;
	margin: var(--main-margin);
}

.main__img-section--headline {
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}

.main__img-section--headline > span:first-child {
	font-size: 20px;
}

.main__img-section--headline > span:last-child {
	font-size: 50px;
	margin: 15px 0;
	position: relative;
	left: -5px;
}

.main__img-section--btns > button {
	font-family: "JSDongkang-Bold";
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin: 25px 7px;
}

.main__img-section--btns > button:first-child {
	background-color: var(--mint);
	color: whitesmoke;
}

.main__img-section--btns > button:last-child {
	background-color: whitesmoke;
	color: var(--mint);
}


.main__contents-section {
	margin: var(--main-margin);
	padding: 60px 0;
}


.main__contents-section--headline > span {
	width: inherit;
	display: block;
	text-align: center;
}

.main__contents-section--headline > span:first-child {
	margin: 20px;
	font-size: 40px;
}

.main__contents-section--headline > span:last-child {
	margin: 10px;
	font-family: "JSDongkang-Regular";
	font-size: 20px;
	position: relative;
	top: 15px;
}

.main__contents-section--contents > div > span {
	display: block;
}

.main__contents-section--contents {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	top: 45px;
}

.main__contents-section--service {
	margin: 30px 20px;
	text-align: center;
}

.main__contents-section--service i {
	font-size: 70px;
	color: var(--mint);
}

.main__contents-section--service > span:nth-child(2) {
	font-size: 20px;
	margin: 20px 0;
}