.board {
	position: absolute;
	top: 400px;
	left: 100px;
}

.board > ul {
	width: 1300px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.board__post {
	width: 400px;
	height: 350px;
}

.board__post--thumb {
	width: 400px;
	height: 300px;
}

.board__post--text {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.board__post--title {
	font-size: 20px;
}

.board__post--date {
	font-size: 15px;
}
