.board {
	width: 100%;
	height: 800px;
	z-index: -1;
	display: flex;
	align-items: center;
	padding: 60px 0;
}

.board > ul {
	width: inherit;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--main-margin);
}
.board__post {
	width: 350px;
	height: 300px;
	padding: 0 5px;
}

.board__post--thumb {
	width: 350px;
	height: 300px;
}

.board__post--text {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: var(--dark);
}

.board__post--title {
	font-size: 20px;
	margin: 5px 0;
}

.board__post--date {
	font-size: 13px;
	opacity: 0.5;
}
