.footer {
	width: inherit;
	height: 90px;
	background-color: #1f1f1f;
	position: relative;
	top: 20px;
}
.footer > div {
	height: inherit;
	margin: var(--main-margin);
	color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__place > div,
.footer__contact > div {
	margin: 8px 0;
}

.title {
	display: inline-block;
	width: 50px;
	font-size: 12px;
	opacity: 0.6;
	font-family: "JSDongkang-Regular";
}
