.header {
	width: 100%;
	height: 90px;
	background-color: whitesmoke;
	position: fixed;
	top: 45px;
}

.header > div {
	height: 90px;
	margin: auto 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header a {
	color: var(--dark);
}

.header__main-link {
	font-size: 30px;
}

.header__menu {
	width: 400px;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.header__menu > ul > li {
	position: relative;
}

.mainmenu {
	display: block;
	height: 90px;
	line-height: 90px;
}

.submenu {
	display: block;
	visibility: hidden;
	position: fixed;
	width: 110px;
	top: 170px;
	opacity: 0;
	background-color: whitesmoke;
	padding: 10px;
}

.submenu > li {
	margin: 10px;
}

.header__menu > ul > li:hover .submenu {
	visibility: visible;
	border-top: 3px solid var(--mint);
	top: 135px;
	opacity: 1;

	transition: 0.3s linear;
}

.header__menu > ul > li:hover .mainmenu {
	color: var(--mint);
}
