/* a style */
a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

/* common input style */
input {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
	outline: none;
}

/* button style */
button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
}

/* input style */
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/* form style */
form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}