<ul>
	<% for (i = 0; i < 6; i++) { %>
	<li class="board__post">
		<a href="">
			<img src="<%= thumb[i] %>" alt="" class="board__post--thumb" />
			<div class="board__post--text">
				<span class="board__post--title"><%= title[i] %></span>
				<span class="board__post--date"><%= date[i] %></span>
			</div>
		</a>
	</li>
	<% } %>
</ul>
