<ul>
	<li class="board__post">
		<a href="">
			<img src="<%= thumb %>" alt="" class="board__post--thumb" />
			<div class="board__post--text">
				<span class="board__post--title"><%= title %></span>
				<span class="board__post--date"><%= date %></span>
			</div>
		</a>
	</li>
	<li class="board__post">
		<a href="">
			<img
				src="https://pbs.twimg.com/media/D61xjWsV4AAJu9y.jpg"
				alt=""
				class="board__post--thumb"
			/>
			<div class="board__post--text">
				<span class="board__post--title">Noon-Sae</span>
				<span class="board__post--date">2020-09-15</span>
			</div>
		</a>
	</li>
	<li class="board__post">
		<a href="">
			<img
				src="https://pbs.twimg.com/media/D61xjWsV4AAJu9y.jpg"
				alt=""
				class="board__post--thumb"
			/>
			<div class="board__post--text">
				<span class="board__post--title">Noon-Sae</span>
				<span class="board__post--date">2020-09-15</span>
			</div>
		</a>
	</li>
	<li class="board__post">
		<a href="">
			<img
				src="https://pbs.twimg.com/media/D61xjWsV4AAJu9y.jpg"
				alt=""
				class="board__post--thumb"
			/>
			<div class="board__post--text">
				<span class="board__post--title">Noon-Sae</span>
				<span class="board__post--date">2020-09-15</span>
			</div>
		</a>
	</li>
	<li class="board__post">
		<a href="">
			<img
				src="https://pbs.twimg.com/media/D61xjWsV4AAJu9y.jpg"
				alt=""
				class="board__post--thumb"
			/>
			<div class="board__post--text">
				<span class="board__post--title">Noon-Sae</span>
				<span class="board__post--date">2020-09-15</span>
			</div>
		</a>
	</li>
	<li class="board__post">
		<a href="">
			<img
				src="https://pbs.twimg.com/media/D61xjWsV4AAJu9y.jpg"
				alt=""
				class="board__post--thumb"
			/>
			<div class="board__post--text">
				<span class="board__post--title">Noon-Sae</span>
				<span class="board__post--date">2020-09-15</span>
			</div>
		</a>
	</li>
</ul>
