<section class="main__img-section">
    <div class="main__img-section--img">
        <img src="image/main1.jpg" alt="메인이미지" />
    </div>
    <!-- 이미지 전환 스크립트 추가 -->
    <div class="main__img-section--text">
        <div>
            <div class="main__img-section--headline">
                <span>항상 봄처럼 따뜻한 곳,</span>
                <span>실버하우스 늘봄</span>
            </div>
            <div class="main__img-section--btns">
                <a href="/introduction">시설소개</a>
                <a href="/agency">상담신청</a>
            </div>
        </div>
    </div>
</section>
<section class="main__contents-section">
    <div class="main__contents-section--headline">

        <span>보다 편리하게, 보다 편안하게</span>
        <span>어르신의 요구와 우려를 항상 최우선으로 생각합니다.</span>
    </div>
    <div class="main__contents-section--contents">
        <div class="main__contents-section--service">
            <span><i class="fas fa-briefcase-medical"></i></span>
            <span>촉탁의 진료</span>
        </div>
        <div class="main__contents-section--service">
            <span><i class="fas fa-coffee"></i></span>
            <span>편의 공간</span>
        </div>
        <div class="main__contents-section--service">
            <span><i class="fas fa-user-nurse"></i></span>
            <span>간호 서비스</span>
        </div>
        <div class="main__contents-section--service">
            <span><i class="fas fa-hand-holding-heart"></i></span>
            <span>일상생활 지원</span>
        </div>
    </div>
</section>